/* DOCUMENT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 48px;
    padding: 10px;
}

/* H2 titres */
#section-titre {
    text-align: center;
    padding: 30px;
}

h3, p, nav a, button {
    font-size: 20px;
}


/* REUSABLES */

.white, nav a {
    text-decoration: none;
    color: white;
}

/* DROP SHADOW SUR LA PLUPART DES BOITES */
.drop-shadow {
    box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.4);
}

/* PADDING ENTRE LES SECTIONS */
#don, #histoire, #impact, #container-refuge, #contact {
    padding: 20px 20px 60px;
}

#section-titre, #accueil-image, #don, .impact-box {
    text-align: center;
}

/* FLEXBOX COLONNE ENTIREMENT CENTREE */
#accueil-image, #don, .don-prix, #histoire, #quiz, #impact, .impact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav button, #don-button {
    cursor: pointer;
}

/* SECTIONS-SPECIFIQUES */
/* HEADER */

.titre, nav, button {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #057858;
    height: 80px;
    padding: 20px;
    margin: 0 auto;
}

.titre {
    gap: 10px;
}

.titre p {
    font-size: 24px;
}

.icon {
    width: 48px;
    height: auto;
}

nav {
    gap: 20px;
}

button {
    justify-content: center;
    gap: 5px;
    background-color: #DB2727;
    color: white;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#heart {
    font-size: 1.4em;
    line-height: 1;
}

nav button {
    max-width: 180px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

/* ACCUEIL */

#accueil-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    height: 400px;
}

/* DON */

#don {
    gap: 20px;
    height: auto;
    padding: 20px 20px 60px;
}

#don p {
    font-size: 16px;
    max-width: 200px;
}

#container-dons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
}

#choix-don {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.don-prix {
    gap: 5px;
    width: 100%;
    border: 3px solid #EEEEEE;
    border-radius: 10px;
    padding: 20px;
}

#choix-freq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.freq {
    font-size: 16px;
    background-color: #EEEEEE;
    color: black;
}

/* MISSION */

#mission {
    background: linear-gradient(45deg, #EDFEF6, #D2FAE8);
    padding: 20px 0;
}

#container-mission {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
}

#mission-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 20px;
    background-color: white;
    padding: 30px;
}

#mission-texte p {
    font-size: 16px;
}

#mission img {
    flex: 1;
    max-width: 50%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

/* HISTOIRE */

#histoire {
    gap: 20px;
    padding: 20px 20px 60px;
}

#histoire-full {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 40vh, rgba(0, 0, 0, 1)), url("../images/luna.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
}

#full-name {
    font-size: 24px;
    font-weight: bold;
}

.gray {
    font-size: 16px;
    color: #AAAAAA;
}

#histoire-short {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 140px;
    border-radius: 10px;
}

.animal-card {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.animal-card:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/luna.jpg");
}

.animal-card:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/oscar.jpg");
}

.animal-card:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/max.jpg");
}

.animal-text {
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* QUIZ & IMPACT */

#quizimpact p {
    font-size: 18px;
}

#quizimpact {
    background-color: #EDFEF6;
}

#quiz {
    gap: 30px;
    padding: 20px;
}

.quiz-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.quiz-reponse {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reponse, .correction {
    flex: 1;
    background-color: #EEEEEE;
    border-radius: 10px;
    padding: 20px;
}

.reponse {
    display: flex;
    align-items: center;
}

.correction {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    line-height: 25px;
}

.correction img {
    width: 64px;
    height: 64px;
}

.reponse:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

#container-impact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
}

.impact-box {
    flex: 1;
    padding: 20px;
    gap: 10px;
}

/* TEMOIGNAGES */

#container-refuge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    min-height: 400px;
}

.refuge-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
}

.refuge-image {
    height: 200px;
}

.refuge-texte {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    border-radius: 10px;
    padding: 20px;
}

.refuge-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    padding: 20px;
}

#container-footer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 10px 20px;
}

#footer-contact {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* contact */

#container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    max-width: 800px;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
}

input, select, textarea {
    font-size: 16px;
    background-color: white;
    border: 3px solid #E2E3E4;
    border-radius: 10px;
    padding: 7px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}

#envoyer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #08956A;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* INTERACTIONS JAVASCRIPT */

.erreur {
    font-size: 14px;
    color: red;
}

.selected-don {
    border: 3px solid #12B784;
    background-color: #EFEFEF;
}

.selected-freq {
    color: white;
    background-color: #0CB981;
}

.selected-animal {
    border: 3px solid #12B784;
}

@media (max-width: 620px) {

    header {
        height: auto;
    }

    nav {
        align-items: flex-start;
    }

    nav button {
        max-width: none;
        margin: 0 auto;
        align-self: center;
    }

    h1 {
        font-size: 36px;
    }

    #choix-don {
        gap: 20px;
    }

    #don p {
        max-width: none;
    }

    #mission img {
        max-width: 100%;
    }

    header, nav, #choix-don, #container-mission, #container-impact, #container-refuge, #container-footer {
        flex-direction: column;
    }
    
    .reponse {
        justify-content: center;
        text-align: center;
    }

    textarea {
        max-height: 400px;
    }
}