* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 48px;
    padding: 10px;
}

p, nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

h3 {
    font-size: 20px;
}

#section-titre {
    text-align: center;
    padding: 30px;
}

/* HEADER */
/* (peut-être à faire plus tard: optimiser le code en réduisant le nombre de display flex & align-items) */

header {
    background-color: #057858;
    height: 80px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

.titre {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titre p {
    font-size: 24px;
}

.icon {
    width: 48px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
    background-color: #DB2727;
    color: white;
    border: none;
    height: 40px;
    border-radius: 10px;
    gap: 5px;
    padding: 10px;
}

#heart {
    font-size: 1.6em;
    line-height: 1;
}

nav button {
    max-width: 180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* ACCUEIL */

#accueil-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

/* DON */

.drop-shadow {
    box-shadow: 6px 8px 24px 1px rgba(0, 0, 0, 0.4);
}

#don {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 20px;
    padding: 20px 20px 60px;
}

#don p {
    font-size: 16px;
    max-width: 200px;
    color: black;
}

#container-dons {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
}

#choix-don {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#don-prix {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 5px;
    border: 3px solid #EEEEEE;
    border-radius: 10px;
}

#choix-freq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#choix-freq button {
    background-color: #EEEEEE;
    color: black;
}

/* MISSION */

#mission {
    background: linear-gradient(45deg, #EDFEF6, #D2FAE8);
    padding: 20px 0;
}

#container-mission {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
}

#mission-texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 30px;
    gap: 20px;
    background-color: white;
}

#mission-texte p {
    font-size: 16px;
    color: black;
}

#mission img {
    flex: 1;
    max-width: 50%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

/* HISTOIRE */

#histoire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 60px;
    gap: 20px;
}

#histoire-full {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 40vh, rgba(0, 0, 0, 1)), url("../images/luna.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}

#full-name {
    font-size: 24px;
    font-weight: bold;
}

#full-date {
    font-size: 16px;
    color: #AAAAAA;
}

#histoire-short {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    gap: 20px;
}

#animal-card {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#animal-card:nth-child(1) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/luna.jpg");
}

#animal-card:nth-child(2) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/oscar.jpg");
}

#animal-card:nth-child(3) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/max.jpg");
}

#animal-text {
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* QUIZ & IMPACT */

#quizimpact p {
    font-size: 18px;
    color: black;
}

#quizimpact {
    background-color: #EDFEF6;
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.quiz-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.quiz-reponse {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reponse {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
}

#impact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 60px;
}

#container-impact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
    gap: 20px;
}

.impact-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    text-align: center;
}

/* TEMOIGNAGES */

#container-refuge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 400px;
    padding: 20px;
    gap: 20px;
}

#container-refuge p {
    color: black;
}

.refuge-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
}

.refuge-image {
    height: 200px;
}

.refuge-texte {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.refuge-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* FOOTER */

footer {
    background-color: #1F2937;
    padding: 20px;
}

#container-footer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.footer-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding: 10px 20px;
}

#footer-contact {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* contact */

#contact {
    padding: 20px 20px 60px;
}

#container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    gap: 7px;
}

input, select, textarea {
    background-color: white;
    border-radius: 10px;
    border: 3px solid #E2E3E4;
    font-size: 16px;
    padding: 7px;
}

textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 250px;
}

#envoyer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    background-color: #08956A;
}

@media (max-width: 620px) {

    header {
        height: auto;
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav button {
        max-width: none;
        margin: 0 auto;
        align-self: center;
    }

    h1 {
        font-size: 36px;
    }

    #choix-don {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #don p {
        font-size: 16px;
        max-width: none;
        color: black;
    }

    #mission img {
        max-width: 100%;
    }

    #container-mission {
        flex-direction: column;
    }
    
    .reponse {
        justify-content: center;
        text-align: center;
    }

    #container-impact {
        flex-direction: column;
    }
    
    #container-refuge {
        flex-direction: column;
    }

    #container-footer {
        flex-direction: column;
    }

    textarea {
        max-height: 400px;
    }
}